[build-system]
requires = ["setuptools>=64.0"]
build-backend = "setuptools.build_meta"

[project]
name = "townsnet"
version = "0.0.1"
authors = [
    # { name = "", email = "" }, # TODO add authors
]
description = "Provision assessment for cities of an urban region"
readme = "README.md"
requires-python = ">=3.10"
license = { file = "LICENCE.md" }

dependencies = [
    "geopandas==0.13.0",
    "loguru==0.7.0",
    "mapclassify==2.6.1",
    "matplotlib==3.7.1",
    "matplotlib-inline==0.1.6",
    "numpy==1.23.5",
    "osmnx==1.6.0",
    "pandas==1.5.3",
    "PuLP==2.7.0",
    "pyarrow==12.0.0",
    "pydantic==2.0",
    "requests==2.31.0",
    "shapely==2.0.1",
    "six==1.16.0",
    "tqdm==4.65.0",
    "seaborn==0.12.2",
    "folium==0.14.0",
]

classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: BSD License",
    "Operating System :: OS Independent",
    "Intended Audience :: Science/Research",
]

[tool.setuptools.packages.find]
include = ["townsnet*"]


[project.optional-dependencies]
dev = [
    "black[jupyter]>=22",
    "isort>=5.6",
    "pylint>=2.17",
    "pre-commit>=3.1",
    "sphinx==6.2.1",
    "sphinx-book-theme==1.0.1",
    "numpydoc==1.5.0",
    "pytest==7.4.3",
    "pytest-cov==4.1.0"
]


[project.urls]
"Repository" = "https://github.com/vasilstar97/townsnet"
"Bug Tracker" = "https://github.com/vasilstar97/townsnet/issues"


[tool.black]
line-length = 120
target-version = ['py310']

[tool.pylint.format]
max-line-length = 120
expected-line-ending-format = "LF"

[tool.pylint.main]
extension-pkg-allow-list = ["pydantic"]

[tool.pycodestyle]
max-line-length = 120


[tool.isort]
lines_after_imports = 2
multi_line_output = 3
line_length = 120
include_trailing_comma = true
