name: Publish to PyPI

on:
  push:
    tags:
      - 'v*'
    branches:
      - main
      - develop

jobs:
  publish:
    name: Publish to PyPI or TestPyPI
    runs-on: ubuntu-latest

    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install build tools
        run: |
          python -m pip install --upgrade pip
          pip install build twine

      - name: Build the package
        run: python -m build .

      - name: Determine branch
        id: branch
        run: |
          git fetch --all
          BRANCH=$(git branch -r --contains "$GITHUB_SHA" | grep -E 'origin/(main|develop)' | sed 's|origin/||' | head -n 1)
          echo "Detected branch: $BRANCH"
          echo "branch=$BRANCH" >> $GITHUB_OUTPUT

      - name: Publish to TestPyPI
        if: ${{ steps.branch.outputs.branch == 'develop' }}
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.TEST_PYPI_API_TOKEN }}
        run: |
            python3 -m twine upload --repository testpypi dist/*

      - name: Publish to PyPI
        if: ${{ steps.branch.outputs.branch == 'main' }}
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: |
            python3 -m twine upload dist/*
